[2018-07-25 17:02] parkerziegler opened #1 "Namespace Exports Under ReasonUrql Module"
In an effort to prevent `module` namespace collisions with consuming apps, we'll want to ensure that all individual modules in `src` get prefixed with `Urql`, i.e. `UrqlProvider` and `UrqlConnect`. Then, in our top level `ReasonUrql` module, we'll want to re-`export` (in a sense) those modules by using `module` aliasing, i.e. `module Provider = UrqlProvider`. This should allow for nice `module` re

[2018-07-27 00:23] parkerziegler commented on #1
Fixed by #2.

[2018-07-27 00:23] #1 closed

[2018-07-27 16:34] parkerziegler opened #3 "Update README to match ReasonUrql module syntax."
Now that we have migrated all `module`s under the `ReasonUrql` `module`, we ought to update the docs to reflect this.

[2018-07-27 16:48] parkerziegler opened #4 "Add tests and setup Travis CI."
We'll want to add tests and basic CI using Travis for this repo.

The leading platform for testing in Reason for the moment seems to be [`bs.jest`](https://github.com/glennsl/bs-jest), so we'll likely want to use that. Tests should be placed in a `__tests__` directory at the root.

CI should be setup using Travis. We'll want to add a `.travis.yml` file at the root once we add sufficient tests.

[2018-07-28 18:35] parkerziegler opened #5 "Consider using `graphql_ppx` for GraphQL queries."
[`graphql_ppx`](https://github.com/mhallin/graphql_ppx) is a PPX rewriter for Reason / BuckleScript. It allows us to construct type safe, validated queries at compile time given a GraphQL schema. Users would be able to generate schema for their projects using the built in script helpers `yarn send-introspection-query http://my-api.example.com/api`. While this adds some slight overhead for users, i

[2018-08-02 01:04] parkerziegler opened #6 "Add support for custom cache implementations."
`urql` allows users to pass a custom `cache` implementation to their `client`: https://github.com/FormidableLabs/urql#custom-caches We'll need to figure out a way to support this, likely using type parameters (e.g. generics).

[2018-08-09 06:17] parkerziegler commented on #3
Fixed by #7.

[2018-08-09 06:17] #3 closed

[2018-08-22 01:01] parkerziegler opened #10 "Support proper `fetchOptions` binding by using `bs-fetch`."
Currently, we allow users to pass _anything_ in their `fetchOptions` argument to `Client` as long as they provide a type for it. However, `urql` uses the `RequestInit` `interface` for `fetch` under the hood to type its `fetchOptions`. To support this, and to give users some guard rails when supplying `fetchOptions`, we should use the `requestInit` type from `bs-fetch`: https://github.com/reasonml-

[2018-08-24 23:26] parkerziegler commented on #10
Closed by #11.

[2018-08-24 23:26] #10 closed

[2018-09-30 02:17] parkerziegler commented on #6
Closed by #13.

[2018-09-30 02:18] #6 closed

[2018-10-08 02:27] parkerziegler opened #14 "Add CONTRIBUTING.md"
Now that `reason-urql` is published to `npm`, we need to add a document to help contributors get started on the project!

[2018-10-16 05:28] parkerziegler commented on #4
This one is in progress as of #15. If anyone wants to pitch in, tests for `Connect`, `Provider`, and `Client` would be most helpful! That should be shovel ready once #15 lands.

[2018-12-03 01:39] parkerziegler commented on #4
CI was added in this commit: https://github.com/parkerziegler/reason-urql/commit/d2291ec7632aa5b32bd849de0f6c3a26cf8895e2. We're continuing to increase coverage, but closing this issue now that we have a build pipeline going.

[2018-12-03 01:39] #4 closed

[2018-12-03 03:29] parkerziegler opened #17 "Add hot reloading to example."
To have a really good developer experience, we should setup hot reloading for the `reason-urql` example project. In doing this, let's take stock of our current `webpack` setup, removing what feels unnecessary and adding in any niceties. Some thoughts:

- Add `webpack-dev-server`.
- Add hot reloading using the `--hot` CLI flag with `webpack-dev-server` (adds HMR automatically). See this [documentat

[2018-12-07 06:09] parkerziegler commented on #17
Added in #18.

[2018-12-07 06:09] #17 closed

[2019-02-19 04:52] parkerziegler commented on #14
Closed by #21.

[2019-02-19 04:52] #14 closed

[2019-02-19 05:04] parkerziegler opened #22 "Add bindings for `Query` component."
`urql` v1 adds a specific component for `Query`, in addition to a `useQuery` hook: https://github.com/FormidableLabs/urql/blob/master/docs/api.md.

For this issue, it'd be ideal to just focus on binding these two pieces of the API. Binding `Query` should be as simple as using `ReasonReact.wrapJsForReason` and typing the props. We will want to re-use some of the nice utilities we have in place to c

[2019-02-19 05:07] parkerziegler opened #23 "Add bindings for `Mutation` component."
This issue is very similar to #22, and should take a similar approach. Let's keep the code paths as convergent as possible between these components and hooks.

[2019-02-19 20:24] kiraarghy commented on #22
I'll take this!

![](https://media.giphy.com/media/zaezT79s3Ng7C/giphy.gif)

[2019-02-19 20:55] parkerziegler commented on #22
Dope! Assigning you now. I'll probably take `Mutation` so we can each take a stab at our own approaches and see where we land relative to one another.

[2019-02-24 16:34] parkerziegler opened #24 "Upgrade `urql` devDependency and peerDependency."
As the first step to starting work on `v1`, we'll need to upgrade the `urql` devDependency and peerDependency to `^1.0.0`.

[2019-02-24 16:57] parkerziegler commented on #22
FYI @kiraarghy let's copy the folder structure from `urql` exactly. So for the `Query` component, let's put it in `src/components/UrqlQuery.re` and for the hook let's put it in `src/hooks/UseQuery.re` or something of that sort. Why the weird naming for `UrqlQuery`? Well, one thing I've thought about is that consumers of `reason-urql` might have their own `Query` module somewhere in the tree, with

[2019-02-24 21:10] kiraarghy commented on #22
@parkerziegler
* Agree with the folder structure and namespacing, thanks for explaining!
* I generally prefer pascal case cause snake case brings up memories of my bad python code 🐍. It feels more Reason/OCaml-esque TBH.

[2019-02-24 22:14] parkerziegler commented on #24
Closed by #25.

[2019-02-24 22:14] #24 closed

[2019-02-24 22:15] parkerziegler commented on #22
Cool! Let's stick with pascal case! 🚀 🚫 🐍

[2019-02-27 19:07] parkerziegler opened #26 "Update bindings for `Client`."
As part of the `v1` migration, we'll need to update the bindings for `Client`. Probably the most significant change will be the addition of bindings for [exchanges](https://github.com/FormidableLabs/urql/blob/274fd4854bb80aa9baeb71ea6935cc06a6580631/src/types.ts#L52). This may be simplified by the fact that, under the hood, exchanges are powered by [ `wonka`](https://github.com/kitten/wonka), whos

[2019-03-10 17:50] parkerziegler commented on #26
Roadmap:

- [x] Add support for `url` and `fetchOptions`, with proper unwrapping of `fetchOptions` variant.
- [x] Add support and example for `executeQuery` and `executeMutation`.
- [ ] Add support for shipped exchanges.
- [ ] Add support and example for using some of the shipped exchanges.
- [ ] Add support for custom exchanges.

[2019-03-14 16:27] parkerziegler opened #28 "Add `examples` directory using yarn workspaces."
Similar to how `urql` has an `examples` directory (modeled loosely after Next's), we'll want to have some `examples` to demonstrate how to use `reason-urql` with ReasonReact. We should use yarn workspaces to manage dependencies across individual examples. Each should therefore have their own `package.json` and `bsconfig.json`. For the most part, all dependencies can be shared (`bs-platform`, `webp

[2019-03-19 23:56] parkerziegler commented on #28
### Roadmap

- [X] Add directory and setup yarn workspaces.
- [X] Add `reason-urql` as `file` dependency.
- [ ] Fix duplicated dependency issue caused by dependency on `reason-urql` 🤦‍♂️

[2019-03-19 23:57] parkerziegler commented on #22
Let's not worry about `useQuery` right now. Until ReasonReact gets support for hooks, I'm leery of trying to do any sort of hacking to support this.

[2019-03-19 23:59] parkerziegler commented on #23
### Roadmap

- [x] Add bindings for `Mutation` component.
- [x] Add example showing how to use the `Mutation` component.
- [ ] Add tests for the `Mutation` component.

[2019-03-23 00:39] parkerziegler opened #32 "Add bindings for `CombinedError`."
We need to bind the `CombinedError` that `urql` exposes and that gets passed along to the render props for `Query`, `Mutation`, and `Subscription`. https://github.com/FormidableLabs/urql/blob/master/docs/api.md#combinederror-class

[2019-03-25 10:19] #22 closed

[2019-03-25 10:22] kiraarghy opened #34 "Add examples for 'Query' component."
Like we have for the 'Mutation' component create an example of how this component can be used with reason-urql V1.

[2019-03-25 16:57] parkerziegler opened #35 "Add bindings for `Subscription`."
Now that we have bindings for both `Query` and `Mutation` in place, let's complete the loop with `Subscription`! @kiraarghy assigning this to you for now, but feel free to pick it up only when you have time.

[2019-03-27 23:32] parkerziegler commented on #32
Closed by #33.

[2019-03-27 23:32] #32 closed

[2019-04-02 16:06] kiraarghy opened #36 "Implement CI pipeline for reason-urql."
It would be nice to start implementing a CI pipeline for reason-urql post V1 to ensure that we don't have build issues, or an Urql update causes our bindings to fail.

@kadikraman seems to be having success using Sail CI for [React Native App Auth](https://github.com/FormidableLabs/react-native-app-auth) so I'm up for using that!

Goal: Implement a simple build and verification pipeline for reason

[2019-04-04 05:58] parkerziegler commented on #36
Closed by #37, thanks @kiraarghy!

[2019-04-04 05:58] #36 closed

[2019-04-07 21:05] #26 closed

[2019-04-07 21:11] parkerziegler opened #40 "Add bindings for Exchanges."
Previously this issue was tracked in #26, but it's complex enough that I figured we'd make it a separate issue. We want `reason-urql` to add support for [exchanges](https://github.com/FormidableLabs/urql/blob/master/docs/basics.md). This shouldn't be too difficult, as `urql` already has a set of exchanges that are a part of the core API. We just need to expose those using `[@bs.module]` declaratio

[2019-04-13 00:02] parkerziegler commented on #40
Closed by #41 and #42.

[2019-04-13 00:02] #40 closed

[2019-04-13 00:02] parkerziegler commented on #28
Closed by #29.

[2019-04-13 00:02] #28 closed

[2019-04-13 00:03] parkerziegler commented on #23
Closed by #29 and #30.

[2019-04-13 00:03] #23 closed

[2019-04-13 00:06] parkerziegler opened #43 "Add server for Subscription example and SubscriptionExchange example."
To make things easier when developing subscriptions and testing the `subscriptionExchange`, we'll want to add a server similar to the setup over on [`urql`](https://github.com/FormidableLabs/urql/tree/master/examples/2-using-subscriptions/src/server).

[2019-04-15 10:45] kiraarghy opened #45 "Upgrade to latest version of Reason React."
We should possibly think about a roadmap for this?

[2019-04-15 20:03] parkerziegler commented on #45
For sure. I think I'd like to see your example land first, and I'm working on an example for the `subscriptionExchange`. Once we get those in, we can begin the latest `reason-react` upgrade alongside a move to `bs-platform@5.x.x`.

[2019-04-17 11:10] kiraarghy commented on #45
Ace!

[2019-04-20 00:15] parkerziegler commented on #35
FYI @kiraarghy I had some time this afternoon and took these on! Will re-assign the issue over to me for the time being. Want to make sure everything with `subscriptionExchange` is working and that's a bit tough without a `Subscription` component.

[2019-04-24 23:37] parkerziegler commented on #43
Closed by #48.

[2019-04-24 23:37] #43 closed

[2019-04-24 23:38] parkerziegler commented on #35
Closed by #47.

[2019-04-24 23:38] #35 closed

[2019-04-26 23:15] parkerziegler commented on #45
I've got all of my examples in and running on `bs.platform@5.0.3`. Will make a switch to latest `ReasonReact` when I get back from PTO!

[2019-05-09 17:29] parkerziegler commented on #34
Closed by #56.

[2019-05-09 17:29] #34 closed

[2019-05-31 19:54] jaredly commented on #45
I imagine this is a prereq for getting some of those wonderful hooks from urql 1.0?

[2019-05-31 20:22] parkerziegler commented on #45
Yep! I have the conversion for `Mutation` working well w/ an updated example, and just need to bind the `useMutation` hook, so that'll be coming up in PR soon. If anyone wants to get started on restructuring `Query` / `Subscription` and binding `useQuery` / `useSubscription`, I'd love the help. It's a pretty easy conversion thanks to how nice the JSX 3 API is!

[2019-05-31 20:23] parkerziegler commented on #45
All of the API docs also still use the JSX 2 syntax, so I'm hoping to update those in this process as well.

[2019-06-03 16:19] parkerziegler commented on #45
### Roadmap

- [x] Bind `Provider` with new syntax.
- [ ] Bind `Query` with new syntax. Add `useQuery` hook.
- [x] Bind `Mutation` with new syntax. Add `useMutation` hook.
- [ ] Bind `Subscription` with new syntax. Add `useSubscription` hook.
- [ ] Update `Query` example.
- [x] Update `Mutation` example.
- [ ] Update `Subscription` example.
- [ ] Update and add docs.

[2019-06-04 13:36] gugahoa commented on #45
Hi, @parkerziegler, I saw your commit that added support to useMutation, and binded Mutation and Provider with the new syntax.

Any reason not to write Mutation in terms of useMutation, instead of making a binding?

I was playing around yesterday trying to add support to useQuery, and that was the route I took. I wanted to know about this before making a PR to maintain consistency with other imple

[2019-06-04 16:48] parkerziegler commented on #45
@gugahoa thanks for reaching out and starting to work on `useQuery`! The main reason I opted for that approach is to maintain these bindings as 1:1 with `urql`. `urql` currently is migrating to the components being powered under the hood by hooks: https://github.com/FormidableLabs/urql/pull/252, so effectively binding the components will do the achieve the same thing. Does that make sense? We are

[2019-06-04 17:46] kiraarghy commented on #45
Going to have a look at useSubscription/Subscription to the new syntax.

[2019-06-06 05:43] gugahoa opened #65 "[Proposal] Adopt redoc for documentation"
Hello, everyone!
There's this great tool called [redoc](https://jaredforsyth.com/redoc/) that could benefit the project.
It generates a good looking documentation website using implementation files and docblocks.

I see two main benefits in adopting it:
- Nice searchable documentation to refer to future users
- Increase the amount of documentation inside the code for future contributors

What's ev

[2019-06-06 18:21] parkerziegler commented on #65
👋Hey @gugahoa Good suggestion! My only hesitation about this is that Formidable has its own sets of doc landers that are revamped for each project (see the `urql` docs site [here](https://formidable.com/open-source/urql/docs/)). I think in the short term we'll probably stick with just Markdown. Once we get `v1` out, I'll start working on the formal docs site for `reason-urql`, which will fit in th

[2019-06-06 20:50] gugahoa commented on #65
I think it wouldn't hurt to have redoc and later change it to something else, since it uses in-code documentation to create the pages. No work would be thrown out of the window this way, I think it's a win-win scenario even in the long-term where redoc is replaced by Formidable own doc site.

[2019-06-07 22:16] parkerziegler commented on #65
That makes sense! Would you be interested in working to get it integrated? I'm a bit swamped helping with `urql` v1.1 and on client work, but I agree that redoc would be helpful in the iterim as Formidable decides on whether we want a formal docs site for this project 👍

[2019-06-07 22:24] gugahoa commented on #65
Sure, I already started a local branch to test out redoc before creating the issue.

Before making a PR with redoc, I plan to simply make a PR with docblock for some modules and after having code doc inplace I'll make a PR adding redoc. How does that sound to you?

[2019-06-07 22:46] parkerziegler commented on #65
Sounds good!

[2019-06-13 01:59] Schmavery opened #67 "Hooks type safety idea"
I'm pretty excited to try to use this in some projects, but just realized after reading through #64 how the typing works for the hooks api. @gugahoa brought up some really good points (I thought) about how this could potentially be improved.
I think it would be hard for me to use this in real projects if I couldn't rely on the type of the response (though @parkerziegler did provide a clever workar

[2019-06-14 06:15] parkerziegler commented on #67
@Schmavery I think this would be a really nice change and I'm definitely in support of it. I think the biggest thing I'm still a bit confused about is how this would allow us to get the type of the parsed `graphql_ppx`ified query into `useQuery`, specifically the one mentioned here: https://github.com/mhallin/graphql_ppx#getting-the-type-of-the-parsed-value.

A quick code example with your API, if

[2019-06-14 09:04] Schmavery commented on #67
I'll see if I can get something working for queries some time this weekend. Thanks for taking a look and have a great vacation!

[2019-06-14 10:48] gugahoa commented on #67
@Schmavery I would prefer it over how it's done now because of the type checking too. But after my initial comment about the type safety of `useQuery` and `useMutation`, I tried to find documentation of the `graphql_ppx` output module and didn't find anything, that why I got a little sheepish about using their internal representation of a query to improve `reason-urql` API.

The signature that you

[2019-06-14 18:07] Schmavery commented on #67
@gugahoa haha I didn't find it in their docs but I ran the code to see what it generates and also am a little familiar with the internals of reason-Apollo which relies on the same stuff

[2019-06-14 18:14] gugahoa commented on #67
The only drawback I can see from relying on undocumented internal implementations is the risk of breaking change from `graphql_ppx` breaking the lib.

But since other libraries also do it like that, maybe we could open an issue on `graphql_ppx` about clarifying the generated module signature?

Also, I can kind of see a point being made that relying on `query`, `variables` and `parse` is not relyin

[2019-06-14 18:41] Schmavery commented on #67
@gugahoa I went back and looked at the graphql_ppx docs again and I think I spoke too quickly about their docs not covering this, sorry:

This seems to cover the values we're using so I think we're safe for now :)

[2019-06-20 16:56] parkerziegler opened #70 "Implement better type inference in components."
Based off on work in #68, #69, and #60, we'll want to ensure our components have the same level of type safety as our hooks now do. This gets trickiest with `Subscription`, whose return data type will differ based on whether a `handler` is supplied or not. We may consider doing what we did w/ the hooks implementation where we have separate `Subscription` and `SubscriptionWithHandler` components to

[2019-06-20 19:09] Schmavery commented on #67
@parkerziegler I guess this is pretty much merged now, feel free to close if you want :)

[2019-06-20 23:42] parkerziegler opened #72 "Subscription and useSubscription API discussion."
@Schmavery @gugahoa I'm opening this issue here as a place for us to track API ideas for `Subscription` and `useSubscription`. I checked out the implementation here: https://reasonml.github.io/en/try?rrjsx=true&reason=C4TwDgpgBAThCOBXCBnYAKA5AIwJRQF4AoKKAHygCEB7ADyzwG4ijRIoALAQwDsATADYQYWLgBooOCZgDG+YqQoAJXoIjp01MMACW1HqNzS8hAHySuuAFydVQkVt37Dx6ZZLkoAOWor+Qm25-YXQAfVdJJhY2aEQUCABlRGwUGRgdbT0DTHFI6

[2019-06-21 01:06] gugahoa commented on #72
I wrote an extensive explanation on how GADT can solve the problem with we go with 1 hook / 1 component, I believe it can't be further simplified, but all that complexity will only live inside the `UrqlUseSubscription` module.
I'll  make a PR with this proposal so that we have a more concrete example to refer to.

---

For future readers without the complete context:
What we want to achieve with a

[2019-06-22 02:40] parkerziegler commented on #67
Closing this now as #70 will cover tackling this in components (which I have in flight as we speak) 🎉

[2019-06-22 02:40] #67 closed

[2019-06-22 18:18] parkerziegler commented on #67
@all-contributors add @Schmavery for code, example.

[2019-06-23 18:44] parkerziegler opened #78 "Add bsrefmt pre-commit hook with husky and lint-staged."
In order to ensure everyone is using the same version of `refmt` when committing their code, we'll want to add `husky` and `lint-staged` to run on pre-commit.

[2019-06-25 16:10] parkerziegler commented on #78
Closed by #79.

[2019-06-25 16:10] #78 closed

[2019-06-25 16:11] parkerziegler commented on #70
## Roadmap

- [ ] Query
- [ ] Query Examples
- [ ] Mutation
- [ ] Mutation Examples
- [ ] Subscription
- [ ] Subscription Examples

[2019-06-25 16:12] parkerziegler commented on #45
Last step to land this is to add better type inference bindings for `Subscription`, tracked in #77, and to add docs with the new APIs 🎉

[2019-06-25 21:03] parkerziegler opened #80 "Fix improper type inference in hooks."
cc/ @gugahoa @Schmavery I'm not totally sure how to fix this one, so reaching out for help.

In `examples/2-query` in `Monster.re`, change L37 from this:

[code]

to this:

[code]

and add this at the top:

[code]

When doing this, I get an interesting type error:

[code]

I'm not totally sure why this is happening. I'm wondering if Reason is searching for the record type associated with the destr

[2019-06-25 21:17] Schmavery commented on #80
Yeah sounds like your assessment of the issue is right.  I'm guessing it might work when you annotate the response like this:
[code]

One module per hook could help.. other ideas:
1) Like you suggested, having a common hookResponse type (which I feel could be nicest except that it  may require reverting the gadt trick?)
2) Having different field names for the different hook responses? Like `{query

[2019-06-25 21:32] gugahoa commented on #80
I agree with the common `hookResponse` type, and tried to solve the issue here making that change. Going with the common `hookResponse` type is still possible with `useSubscription`, maybe you got that error because type inference around GADT has to be more explicit, otherwise the inferred type won't be the desired one.

For the type inference to work with `hookResponse` (which I believe will be i

[2019-06-25 21:38] gugahoa commented on #80
I opened up a PR with the suggestion of a new type for hooks response: https://github.com/FormidableLabs/reason-urql/pull/81

[2019-06-25 21:41] parkerziegler commented on #80
:chefs-kiss: You two are literally the best OSS contributors I've ever worked with ❤️. I'm going to check internally about getting you write access to the repo so you can push branches directly, which I think will make it easier to test and verify one another's changes locally.

[2019-06-28 03:15] #80 closed

[2019-07-01 01:55] #70 closed

[2019-07-01 01:56] parkerziegler commented on #72
Closing for now, with the current approach being a 1 hook, 2 component solution 😂 We're using the GADT approach for the hook, and will port it over once the `@react.component` PPX supports locally abstract types necessary for GADTs to work.

[2019-07-01 01:56] #72 closed

[2019-07-06 19:13] parkerziegler opened #86 "Move off of Sail CI."
We have five builds in a pending state in Sail, and a build hasn't gone through since Tuesday. Sail just feels too flaky to really be worth it. I'd be open to using Travis or CircleCI if anyone wants to pick this up before I get to it. The project previously was on Travis and the builds always worked pretty well, but Circle could be fun to setup too.

[2019-07-06 19:35] gugahoa opened #87 "What's the plan regarding UrqlCombinedError.t?"
Hello, all!
I have been using `reason-urql` since hooks got in, and one of the pain points has been around error handling. Right now, there's no way to inspect the errors that happened during a request, as the error type is simply an `UrqlCombinedError.t` with no helper function to extract more information from that type.

What's the plan regarding error handling, and is this error API what's gonn

[2019-07-06 20:56] parkerziegler commented on #87
@gugahoa the `UrqlCombinedError` API is definitely rough (I actually think it's just broken right now). I think I see where the issue is – there's a binding to support `new`ing up a `CombinedError`, but users are never actually doing that, they're just receiving a `CombinedError` instance from `urql`. I'll work on a prototype this afternoon, but the short answer is no, we'll fix this API before sh

[2019-07-07 01:53] parkerziegler commented on #45
Hooks along with latest ReasonReact syntax have officially been released in `v1.0.0-beta.1` 🎉

[2019-07-07 01:53] #45 closed

[2019-07-22 16:27] parkerziegler commented on #87
Closed by #89.

[2019-07-22 16:27] #87 closed

[2019-07-23 00:38] parkerziegler commented on #87
Released in v1.0.0-beta.2.

[2019-08-01 22:24] Schmavery opened #91 "Type inference in executeQuery/etc"
I was just looking at making some graphql queries from a non-react (nodejs) project and realized that it seems like the [type](https://github.com/FormidableLabs/reason-urql/blob/909ecb8d539e8932f9cca8176389bddfb7294a2b/src/UrqlClient.re#L89-L98) of the response from `Client.executeQuery` is a `Wonka.Types.sourceT('a)`, so it seems like it exhibits the same issues as #80 and #67. Same with `execute

[2019-08-02 05:55] parkerziegler commented on #91
Yep I think you're right on @Schmavery. I think we'll need to implement the same pattern of passing the full `graphql_ppx` module as we do on the components and hooks. Noticed the same thing while working on docs. Definitely happy to pick this up or, if you're keen on working on it, happy to do a quick review and release for it!

[2019-08-02 20:29] Schmavery commented on #91
If I have a chance this weekend I could try to get something out. Another thing I was wondering about is why the constructing the request and executing the query happen separately. Do you know if

Client.executeQuery

Right now in my local project, I wrote a little wrapper as a workaround that does this:
[code]

Is there a reason I should be avoiding doing something like that? If we don't do it th

[2019-08-02 22:35] parkerziegler commented on #91
Yeah I think the only reason I originally architected it that way was to match the `urql` API. Over in `urql`, `executeQuery` (and its associates) require you to pass in `query` as a `GraphQLRequest` object, which is basically just a packaged up object containing the `query` and `variables` of the request alongside a `key` that uniquely identifies the operation: https://github.com/FormidableLabs/u

[2019-08-14 19:22] parkerziegler commented on #91
Closed in #92 and #94. Will be released in 1.0.0-beta.3.

[2019-08-14 19:22] #91 closed

[2019-08-17 20:17] parkerziegler commented on #91
Published in [1.0.0-beta.3](https://github.com/FormidableLabs/reason-urql/releases/tag/v1.0.0-beta.3).

[2019-09-04 18:30] idkjs opened #96 "Convert to Reason"
What would this look like in `reason-urql`?

[code]

https://github.com/howtographql/react-urql/blob/662b62f4768e5e2147d95af5dbf8ab8565b63f72/src/components/Login.js#L33-L42

I can't seem to get the token back and setting it.

I have tried a bunch of things. Here is where I am.

[code]

Here I try to log the response but get nothing:

[code]

I'm probably just not familiar enough with the library.

[2019-09-04 18:37] gugahoa commented on #96
Example: https://gist.github.com/gugahoa/b959b7d0b98b87cc1822b6754b85fa34
That can be seen in action at https://app.kinase.med.br

[2019-09-04 18:41] idkjs commented on #96
Obrigado, @gugahoa! So you do you have the SignUp query in its own component? I was trying both in same component like this: https://gist.github.com/idkjs/50e4ce47836f63a53ebcf98119a77628

[2019-09-04 18:44] gugahoa commented on #96
Yeah, the intent is to have a SignUp query on it's own component, but we haven't implemented it yet. It should be quite similar to the Login query and component, though.

[2019-09-04 19:28] idkjs commented on #96
@gugahoa if you still feel like teaching, what is going on here:

[code]
You have an `Auth.re` that defines an `Auth.context` value which has a `user` property that takes two arguments, a first function that is ignored and a login function. Later, see you call login. Is this the `login` you are referring to?

Thank you, sir. No worries if you can't respond.

[2019-09-04 19:32] gugahoa commented on #96
@idkjs `Auth.t` has type:
[code]

At line 56 in Login.re, I declare a new login:
[code]

Later on I use that login declared on line 56

[2019-09-04 20:42] #96 closed

[2019-09-08 17:38] idkjs opened #98 "Namespace collisions"
You guys have a module called Types on `ReasonUrql` which will/does clash with anyone who defines a module called types in their project. Just an FYI. Please let me know if you need further explanation.

For future reference for readers. You can get around this by add `namespace:true` to your `bsconfig.json` and referencing your own types module with `open MyProjectNamespace.Types;` or `MyProjectN

[2019-09-10 19:45] parkerziegler commented on #98
👋 Hey @idkjs, thanks for the issue report. Definitely will want to correct this as I expect a lot of folks will have a `Types.re` module in their projects. I'm thinking we'll just keep the current module name `UrqlTypes` and expose that to folks, i.e. when you `open ReasonUrql`, `UrqlTypes` will be the module name brought into scope 👍

[2019-09-10 21:35] idkjs commented on #98
My thoughts exactly.

[2019-09-11 03:28] parkerziegler commented on #98
PRs always welcome! If you have some time to get to it that'd be great, otherwise I should have it released by Saturday / Sunday!

[2019-09-11 14:04] idkjs commented on #98
I went to fix this, made some changes and came up against this error which i could not figure out:

[code]

I re-ran with the repo in its current state and got the same error so i guess example #3 is currently broken? Is that a new issue?

[2019-09-11 17:18] parkerziegler commented on #98
I'll look into this – we recently switched around how we handle one-off calls to `executeQuery` and `executeMutation` to improve the type inference, and I likely just missed updating this example in the process 😅

[2019-09-11 19:16] idkjs commented on #98
Noticed you have a `"wonka": "^2.0.1"` as a dep still. Any plans on upgrading to `3.0`?

[2019-09-16 23:33] #98 closed

[2019-09-16 23:34] #86 closed

[2019-09-18 20:53] parkerziegler opened #102 "Add support for SSR and Suspense."
`urql` v1.1.0 introduced server-side rendering and basic support for Suspense on the server via `react-ssr-prepass`. With the new goal being to bind `reason-urql`'s next version to `urql` v1.1.3, this becomes a major priority for us. The responsibility on the binding side is actually quite small (relatively) here:

- [x] Upgrade `urql` dependency to v1.1.3. This is the `v1.1.x` version that contai

[2019-09-22 13:04] baransu opened #103 "Pass mutation variables when calling executeMutation"
As shown in this example, mutation variables are passed when hook is created. https://github.com/FormidableLabs/reason-urql/blob/master/examples/3-mutation/src/Dog.re#L66

In my use case I want to create mutation hook at top of the component but pass variables later (for example from form submission callback function). Does `reason-urql` support it. I  cannot find any documentation or example abou

[2019-09-22 15:35] gugahoa commented on #103
You have to pass the variables during the request creation, and pass that to the hook. Here's an example: https://gist.github.com/gugahoa/b959b7d0b98b87cc1822b6754b85fa34

[2019-09-22 18:09] baransu commented on #103
Thank you for the example. Could you show how its possible with reformality: https://github.com/MinimaHQ/re-formality/blob/master/README.md

It seems super inconvenient to handle it way you show because you have to define your hook earlier than callback where you don’t have the data yet if you don’t control your state manually.

[2019-09-22 18:26] gugahoa commented on #103
In this case it's better to use https://github.com/FormidableLabs/reason-urql/blob/master/src/UrqlClient.re#L254

[2019-09-23 08:18] baransu commented on #103
That's what I was looking for. Thanks!

[2019-09-23 08:18] #103 closed

[2019-09-27 00:16] parkerziegler opened #106 "Update API documentation on CombinedError."
Currently our API documentation on `CombinedError` is non-existent. This is an important part of the `urql` API and deserves to be covered in more depth. API documentation should include the following:

- Type signature and description of the `CombinedError.combinedError` record.
- Examples showing how to pattern match `combinedError` on the `networkError` and `graphQLErrors` fields.
- Example sho

[2019-09-27 00:40] Schmavery commented on #106
One thing that I found a little funny with this module is that the "type t" is the js version of this type, which afaict isn't really used that much by users. Mostly I would interact with the `combinedError` type (the record version). Caused some confusion once when trying to annotate something with UrqlCombinedError.t fwiw

[2019-09-27 17:06] parkerziegler commented on #102
For those tracking this issue, `bs-react-ssr-prepass` is live here: https://github.com/FormidableLabs/bs-react-ssr-prepass

[2019-09-27 20:00] parkerziegler commented on #106
Definitely agreed, that was an oversight on my part @Schmavery. I think initially I was planning to leave the `Js.t` as the exposed API, but now that the record is what people are actually working with I'm going to adjust the API.

[2019-09-30 23:48] Schmavery opened #107 "Should combinederror contain both network and graphql errors?"
Not sure if you have any insight/ideas on this -- It seems like ocaml-graphql-server makes the response a status code 500 when you want to return a graphql error. This is normally fine, except for that our service that uses reason-urql just returns a network error in this case and doesn't seem to attempt to parse any graphql errors once it sees a 500.

I've tracked this down to urql here:
https://

[2019-10-01 00:28] Schmavery commented on #107
Seems like probably ocaml-graphql-server returning 500 is the main issue here but I'm open to other ideas. Feel free to close this

[2019-10-01 05:06] Schmavery commented on #107
Aha!
This feverish bug-hunt has uncovered fruit!

https://github.com/FormidableLabs/reason-urql/blob/3a4a519c56a3bfee82f5fd7e0686d6ff03b7ddf4/src/utils/UrqlCombinedError.re#L56
https://github.com/FormidableLabs/urql/blob/master/src/utils/error.ts#L43

https://github.com/FormidableLabs/urql/blob/f4b11379e43ef14bbc2a5bf563a6aa2cc09b4271/src/utils/error.ts#L43

Spot the difference anyone 😛? (PR incom

[2019-10-01 20:56] Schmavery commented on #107
I've asked around a little bit and gotten a general consensus that the server shouldn't be returning 500 so I guess we can close this for now, though I'd still be curious if anyone has other thoughts.
Sorry for the spam :)

[2019-10-01 20:56] #107 closed

[2019-10-01 21:53] parkerziegler commented on #107
@Schmavery thanks for the investigative work and finding that bug. I honestly don't know what the more accurate thing to do is re: status codes in GraphQL – the spec doesn't seem to say anything about it: https://graphql.github.io/graphql-spec/June2018/#sec-Errors From what I can tell, I think the presence of `errors` in the `errors` field of the response should be treated as a malformed request,

[2019-10-01 22:43] Schmavery commented on #107
I guess the idea would be that any bit of data that could be not provided when there is an error would be a nullable type?

I think the examples idea is a good start :) Adding more variant options can result in more hassle handling all of them in cases where you don't care about both data + error (though its possible you should care about both when writing "proper" graphql.. what do I know)

[2019-10-05 16:24] #106 closed

[2019-10-16 18:47] parkerziegler commented on #102
Latest PR for this issue merged #111. WIll be released in v1.1.0.

[2019-10-30 14:20] huy-nguyen opened #117 "Update to new GraphQL ppx"
The [ppx](https://github.com/mhallin/graphql_ppx) mentioned in the README is not maintained anymore ([announcement](https://github.com/mhallin/graphql_ppx/issues/90)). It also may not support BuckleScript 6 ([source](https://github.com/BuckleScript/bucklescript/issues/3914)). Please consider using [this one](https://github.com/baransu/graphql_ppx_re) instead.

[2019-10-30 17:37] gugahoa commented on #117
I think it's worth mentioning both, and let users choose

[2019-10-30 19:37] huy-nguyen opened #118 "urql should be peer dependency"
`urql` should be a peer dependency of this package. Because the package has no "JS compilation step" (which it doesn't need), `bs.module` declarations like this:

https://github.com/FormidableLabs/reason-urql/blob/d31d0e508dd5dccb8ad6d495f1c6b1c75296ce72/src/UrqlClient.re#L135-L144

will be transpiled into naked `import Urql from "urql"` statements in a JS code base, which causes the bundler (`web

[2019-10-30 21:00] huy-nguyen commented on #117
I see that the old ppx is specified explicitly in `bsconfig.json`:

https://github.com/FormidableLabs/reason-urql/blob/d6a2dbf6de3794cc218ba08828f068cf4445f2f4/bsconfig.json#L32

Does that require people to install the old one if they just want to use the new one?

[2019-10-30 23:00] parkerziegler commented on #118
👋 Hey @huy-nguyen, thanks for opening an issue. `urql` used to be a `peerDependency` of this project, but we abandoned that strategy starting at v1. The major reason was that we couldn't guarantee that the bindings would be in lock step with the latest `urql` versions. For example, if a user did install `urql` as a `peerDependency` of `reason-urql`, they'd have to know _exactly_ which version of `

[2019-10-31 03:06] huy-nguyen commented on #118
@parkerziegler Thanks for the detailed explanation. You're right. I was working in a repo that uses yarn workspace. I tried installing `reason-urql` in a regular repo and it does install `urql` alongside it.

[2019-10-31 03:06] #118 closed

[2019-10-31 05:35] Schmavery commented on #117
I don't think the ppx is used anywhere in the library, I wouldn't be surprised if that option could be safely removed from the bsconfig.

That said, I think it makes sense to mention graphql_ppx_re in the README as a first option, maybe something like `you can use [graphql_ppx_re](link) (which is based on [graphql_ppx](link))`.

As things move towards bs-platform 6, it seems like it would be nice

[2019-11-02 04:13] #117 closed

[2019-11-06 06:05] gugahoa opened #121 "New GraphQL ppx instructions incomplete"
The way to generate a `graphql_schema.json` is different on `graphql_ppx_re` so the instructions on the README right now will lead to an error when setting up a new project

We should copy the instructions from `graphql_ppx_re` and have another section with instructions if the user decides to use `graphql_ppx` only

[2019-11-06 06:19] gugahoa opened #122 "Compilation error in recent version"
https://github.com/FormidableLabs/reason-urql/blob/master/src/components/UrqlQuery.re#L71

`pause` should be changed to `?pause`
[code]

[2019-11-06 06:21] gugahoa opened #123 "`graphql_ppx` is in peerDependency, devPendency and ppx-flags of root project"
I don't quite remember if it's being used, but if it's not, it would be better to remove it as it causes conflicts when using the new recommended library `graphql_ppx_re`

[2019-11-06 06:23] gugahoa commented on #65
I ended up not touching this, after looking into it a little better, redoc doesn't provide features I consider essential. What would be the thoughts on using [Docusaurus v2](https://v2.docusaurus.io/)? It can be seen in action in the [reason-relay docs](https://reason-relay-documentation.zth.now.sh/docs/start-here) and looks quite powerful

[2019-11-06 06:57] gugahoa commented on #122
This is quite strange, I got this error when compiling a new project, after doing the changes I came back to try and fix this, but just noticed it should be exactly like this. :thinking:

I'll further investigate this issue

[2019-11-06 07:00] gugahoa commented on #122
Looks like a breaking change from bucklescript

[2019-11-06 07:13] gugahoa commented on #122
Ok, this looks like both a bug in reason-urql and a breaking change on bucklescript. I found a fix that will work on bs-platform 5.2.1 and bs-platform 6.2.1

[2019-11-07 07:19] parkerziegler commented on #121
@gugahoa Totally agree, I have some local docs changes that will fix this. I'll push them up tomorrow when I get a moment.

[2019-11-08 02:45] #122 closed

[2019-11-08 02:46] parkerziegler commented on #123
Fixed by #124.

[2019-11-08 02:46] #123 closed

[2019-11-09 18:23] #121 closed

[2019-11-10 18:18] parkerziegler opened #126 "Upgrade to bs-platform 6.2.1."
With `bs-platform@6.2.1` out, we'll want to start migrating our in app examples over to this version to ensure compatibility. This will also entail upgrading the root's `bs-platform` `devDependency` to 6.2.1. Finally, this also means that all examples will need to use `@baransu/graphql_ppx_re/ppx6`.

[2019-11-11 02:14] gugahoa opened #128 "Passing variables only when calling executeMutation"
In the PR https://github.com/FormidableLabs/reason-urql/pull/69 by @Schmavery where typed use mutation was introduced, there was also a suggestion on making the interface for `useMutation` take `makeWithVariables` as parameter to let users pass variables later. In hindsight, it seems this is the expected behavior by users as can be seen here: https://spectrum.chat/urql/reason/usemutation-api~72b63

[2019-11-12 17:46] #126 closed

[2019-11-14 06:43] parkerziegler commented on #128
Alright, so diving back into this, I feel like the two implementations I'm seeing discussed fall into two categories.

1. Use different parts of the `graphql_ppx` / `graphql_ppx_re` API to achieve what we want. This is the implementation Avery mentioned in #69, which I think is a cool idea. Rather than passing `.make()` with variables applied, we pass the `makeWithVariables` function itself.

[cod

[2019-11-15 03:25] parkerziegler commented on #128
FWIW here's a proof of concept for the functor approach (the second one above) that appears to be working well in one of our examples: https://github.com/FormidableLabs/reason-urql/compare/task/functor-useMutation-api

[2019-11-15 08:03] robinweser commented on #128
As much as I dislike the fact that it's going to break API consistency, I feel like the second approach is the better one. The first one, while elegant, feels a bit inconvenient to use... I have a use case I have to write my own parse instead of leveraging `graphql-ppx` due to type inconsistency in our backend. (It's a pity, but fine in that case)

[2019-11-18 22:50] Schmavery commented on #128
Still thinking about it a little, but I can't understand the problem @parkerziegler describes here:

wouldn't the type of useMutation be something like
[code]

It seems like adding an additional useDynamicMutation or something API could help the API consistency problem while allowing people to do this too.. just an idea.

@robinweser Re: custom parse function -- FWIW I included an example for this

[2019-11-19 01:31] parkerziegler commented on #128
@Schmavery the challenge I was seeing is that, in order to get access to the type of the query / mutation / subscription, I think you have to call `.make()` on the `graphql_ppx_re` module. Right now the user has to do this so we can pull `.parse` off of what they pass us in `request` in order to properly infer the return type.

What @robinweser seems to be running into is that the variables he wan

[2019-11-19 17:41] parkerziegler commented on #128
^ Here's the PR with the proposed functor API. @Schmavery if you're able to cook up a branch or PR for `useDynamicMutation` I'd ❤️ to see it.

[2019-11-20 10:51] Schmavery commented on #128
@parkerziegler we should be able to do an API like this if people want, I have some code that seems to be typechecking locally mocked up for it
[code]

It's a little more verbose but allows everything to be typed without using functors (I noticed in your PR that it seems like the vars are an untyped Js.Json.t? Unless I misread)

It's kinda funny the limitations we're under because of needing to bi

[2019-11-20 12:13] robinweser commented on #128
@Schmavery Oh I really like that proposed `useDynamicMutation`! Especially with the typed vars etc. Don't like the `Js.Dict` syntax too much in general.

Also on the custom parse stuff: Yeah it's quite straight-forward to just use `a => a`, but you'll loose convenience e.g. `null` -> `Option` conversion (90% of our fields are nullable due to how our auth works).

[2019-11-20 17:35] parkerziegler commented on #128
@Schmavery Ok, I think I'm seeing it now! I think for some reason I didn't think you could access `.parse` off the `graphql_ppx_re` module, but of course you can since that's literally what the functor is doing 🤦‍♂ If you'd like to PR the first `useDyanmicMutation` you have mocked up here I think that'd make a great API to start with. If your work upstream in `graphql_ppx_re` does end up getting m

[2019-11-22 17:03] parkerziegler commented on #128
Closed by #130 and will be released in v1.4.0!

[2019-11-26 05:10] #128 closed

[2019-12-01 04:54] parkerziegler commented on #102
An example using `reason-urql` with Next is available here: https://github.com/parkerziegler/reason-urql-ssr We'll link this example in the README as well.

[2019-12-01 04:54] #102 closed

[2019-12-09 17:46] baransu opened #137 "Invalid requestPolicy passed to useQueryJs"
[code]
This type doesn't convert nested `UrqlTypes.requestPolicy` type when creating.

When doing:
[code]
is should be
[code]
This way string instead of int will be passed int `"requestPolicy"` key in `urql` options.

[2019-12-13 06:39] parkerziegler commented on #137
Aha, right you are @baransu! Good catch, and thanks for watching out. Do you want to PR the fix? I'm also happy to do it and co-author you on the commit 😄 Thanks as well for all the hard work on `graphql_ppx_re`, really appreciate that!

[2019-12-13 08:58] baransu commented on #137
I won’t have time this week to do that. If you want feel free to fix it 😉

Thanks for using `graphql_ppx_re` ❤️

[2019-12-15 17:11] #137 closed

[2019-12-16 18:47] parkerziegler commented on #137
Released in [v1.4.1](https://github.com/FormidableLabs/reason-urql/releases/tag/v1.4.1).

[2020-02-06 03:32] gaku-sei opened #144 "[Proposal] Init value in response type"
The logic here https://github.com/FormidableLabs/reason-urql/blob/8bb9cf6de62cc3b870bb7b7e59c79f136f04c0ca/src/components/UrqlMutation.re#L59 looks a bit off for dynamic mutations.

By definition, a dynamic mutation will occur after the hook is called, so `fetching` will always be `false`, and `data` and `error` will always be `None` as long as the mutation hasn't been called.

I propose to introd

[2020-02-06 06:45] parkerziegler commented on #144
🤔 Hmmm, I'm not sure I fully understand the use case here. How does the `Init` constructor differ from `NotFound`? `NotFound` essentially acts as a catch all case, and can handle both:

1) The case you mention, where you haven't yet executed a mutation.
2) The case where you execute a mutation and, for some reason, you receive neither data or errors.

I'm not sure what `Refetching` would add eithe

[2020-02-06 08:38] gaku-sei commented on #144
Thank you very much for the quick reply.

There are two different use cases here, one for `Init` and one for `Refetching`.

### Init

The way I understand `NotFound` is the one you're describing: "The Urql client hasn't found any data for this request".

But there is a difference between "The client hasn't found any data", and "The client hasn't found any data _yet_". Conceptually, those are two d

[2020-02-06 18:34] parkerziegler commented on #144
Ok, I think I see what you're getting at. How would you propose we differentiate between `Init` and `NotFound` in our pattern matching? Right now we rely on checking three values from `urql` – `fetching`, `data`, and `error` in a tuple. The match for `NotFound` is `(false, None, None)`. Would we need to introduce an extra condition – `executed` – such that we could differentiate these states, such

[2020-02-07 06:33] gaku-sei commented on #144
Thank @parkerziegler. Yes, that's exactly what I meant, sorry for the bad explanations ^^

I totally agreee with this: `I suppose I'm just a little leery of introducing this across all hooks as it feels like it can be solved in user land as your Gist demonstrates`, this kind of use cases can be implemented in the user land (just like Refetching or Fetching would actually), and it could have a big

[2020-02-07 23:07] parkerziegler commented on #144
@gaku-sei yeah, this would break a lot of folks' code, so for now I'm inclined to say we just add an example to the docs with a new section called "Tracking Request State" or something of that nature. I think `getting_started.md` would be a great place for it.

I'll slate this to be added as well in v2.0, but there are some other higher priority changes I'll want to get in that release as well, in

[2020-05-07 13:17] BlueHotDog opened #167 "manually running queries creates memory leak"
Hi, if you're executing a query directly e.g:
[code]
There's no way to unsubscribe(if not being done in a sideeffect).

[2020-05-10 22:08] parkerziegler commented on #167
👋Hey @BlueHotDog, thanks for opening the issue. If using `subscribe` from Wonka you should get back the `unsubscribe` function directly from using the `subscribe` sink. You can view the docs here: https://wonka.kitten.sh/api/sinks#subscribe

In your example, this would look like:

[code]

Once you have `unsubscribe` available you can call it whenever you like – in an effect or in response to an ev

[2020-05-10 22:08] #167 closed

[2020-05-19 12:18] BlueHotDog commented on #167
Actually, all i want to receive 1 value and then automatically unsubscribe.

[2020-05-19 12:28] BlueHotDog commented on #167
Hmm, sorry, got it. I think i need to use ```Wonka.take(1)```

[2020-05-19 12:34] BlueHotDog opened #169 "Working with Upload types"
Hi, first of all, tons of love for making this lib happen! amazing job!
Not sure if i missed something, but couldnt find a way to work with Upload types.
(tried but couldnt make it work)

[2020-05-27 16:13] kitten opened #170 "[Umbrella] reason-urql v2 Refactors & Improvements"
This is a good and opportune moment to take some time to reflect on a couple of `reason-urql`-specific structures and APIs. Specifically, `reason-urql` is meant to be idiomatic Reason code, but some parts of the API have been tied to bindings and expose some of the disconnect between JS/TS and Reason.

Because we're preparing to land v2, this may be a good moment to:

- Improve APIs and make them

[2020-05-28 12:37] BlueHotDog opened #171 "upgrade urql version"
Hey, seems like urql is at 1.8.2 and specifically it seems like some major critical bugs have landed there.
Anything specific preventing from following up more closely with mainline urql?

[2020-05-29 04:18] parkerziegler commented on #170
Thanks for opening this @kitten! I'm going to separate each section above into a separate comment with thoughts and a checklist so folks we can discuss each piece by piece.

[2020-05-29 04:32] parkerziegler commented on #170
### Amount of Supporting Files

I agree with you, we can certainly clean this up.

**The Client has its own folder and is segregated from its types, a separate types file exists**

I would be happy to move the client just beneath the top-level `src` directory and rejoin the contents of the `ClientTypes` module with it. The main reasons I separated it:

1. All of the `[@bs.deriving abstract]` auto-

[2020-05-29 23:05] parkerziegler commented on #171
Hey @BlueHotDog - a few things are blocking this:

- We're in the middle of changing some APIs pretty radically, see #170. We want to have those figured out before continuing to upgrade `urql` versions.
- Each minor version of `urql` introduces changes we can't be sure our bindings support. So in general, we've been conservative by updating the bindings minor version by minor version. If you're re

[2020-06-09 16:08] parkerziegler commented on #170
## Hook Context APIs

**Should the request be its own curried argument?**
**Should unit be last in those hooks? We do have the required request argument.**

I think `unit` has to be last in order to support all arguments being labelled, no? Since otherwise Reason will curry the function and wait for further arguments to be applied rather than returning the `(state, execute)` tuple 🤔 Are you thinki

[2020-08-04 01:15] parkerziegler commented on #170
Alright, @kitten `v2` has been published! I believe I hit on most every issue here, so I'm going to close it. This release had a lot of good improvements in it and I didn't want to sit on them any longer 😅 I think next steps for us mostly include:

- Supporting next minor `urql` version.
- Beginning to outline bindings for exchanges and how we want to / don't want to support them. I'm mostly think

[2020-08-04 01:15] #170 closed

[2020-08-05 20:34] parkerziegler commented on #169
Hey @BlueHotDog, making this work will likely involve binding the `multipartFetchExchange`: https://github.com/FormidableLabs/urql/tree/main/exchanges/multipart-fetch I think we're planning to begin binding these critical exchanges in the near future with a migration to `yarn workspaces`, but you can write your own binding in the meantime!

[2020-08-06 15:46] parkerziegler commented on #171
Remaining tasks to bring `reason-urql` up to latest `urql` version.

- [ ] Add `operation` field on all hook results.
- [ ] Add `maskTypename` and `preferGetMethod` as options for the `Client`.
- [ ] Add `client.readQuery` method. @tatchi has a PR open for this now that we need to re-point at `main`.
- [ ] Add utilities for `makeResult`, `makeErrorResult`, `formatDocument`, and `maskTypename`.
- [

[2020-08-13 22:20] parkerziegler commented on #144
`Empty` constructor added in `v2.0.0`. `Init` parameter was eschewed after review from `urql` core team members, since this isn't a well-defined state in the upstream library and can be tracked in user land using a `ref`.

[2020-08-13 22:20] #144 closed

[2020-08-19 02:49] gaku-sei opened #202 "Runtime error "value is null" with the latest Reason Urql version"
I get the following runtime error when trying to update to Reason Urql 2:
<img width="520" alt="Capture d’écran 2020-08-19 à 11 43 28" src="https://user-images.githubusercontent.com/3982371/90586043-359ca080-e211-11ea-9a84-9cd2d5e7972a.png">

The `parse` function is generated by the `graphql ppx` and will indeed accept an object, not null.

After inverstigating a bit more, I could find that the

[2020-08-24 02:15] gaku-sei commented on #202
Hello @parkerziegler , and thank you for your reply 😄

7.3.2 (the latest before v8), so the same as reason urql.

Sorry, I totally missed that part 😄

I'm using Next js with next-urql (1.1.0) to handle the server side rendering.

The function calls are a bit complex:

1. At the top level (in a `getInitialProps` method):

[code]

2. In the user "service" (this one is used mostly to catch and recove

[2020-08-26 13:47] MoOx opened #204 "Few mistakes in doc"
I am dropping here some mistakes I got following getting started doc:

- I didn't find any Provider from ReasonUrql module. Did you mean Context.Provider?
- For `Hooks.useMutation(~request, ());` it seems that extra () are causing trouble. It seems that useMutation only accept a single argument https://github.com/FormidableLabs/reason-urql/blob/4b99ef4e11f371516b53bc5b557d2872c7af0a78/src/hooks/Us

[2020-08-26 15:54] parkerziegler commented on #204
Hey @MoOx thanks for the suggestions! You're definitely right on these.

Yep, that's a mistake. We did a little reorganization of modules to support v2 and that was missed.

Yep, correct on this one as well – do you happen to have handy where in the docs you saw this? I'll also review so we can point contributors at the right place to make changes.

Yep, this was again just missed in the reorg. Pr

[2020-08-26 16:14] parkerziegler commented on #202
Hey @gaku-sei, so one thing I'm noticing in your code above is this piece:

[code]

In v2, all keys of a `Partial<OperationContext>` (in TS land) come as optional labelled arguments to the `Client.execute*` methods. This also means that, if you don't supply all arguments, you need to specify a final `()` argument to indicate you've fully applied the function (rather than returning a curried functi

[2020-08-26 16:32] MoOx commented on #204
I will try to help when I will be more confortable. I am struggling a lot for now :/

[2020-08-27 03:50] gaku-sei commented on #202
@parkerziegler Thank you for you answer

You're absolutely right, my bad, that's because I don't know how to copy paste properly 😅
There is a `()` in the actual code.

I will try to give a look and see what I can do (not sure I will have too much time, but I'd like to try). Also, I'm afraid I'll have to revert many `option` to `Js.Nullable.t`, is that ok with you?

[2020-08-27 08:23] MoOx opened #206 "TypeError: state.talkback is not a function"
Hi, I am having issue with next & getStaticProps. I am getting a weird wonka runtime error.
Here is a sample of my code (still WIP)

[code]

Here is the runtime error I got

[code]

I have no clue on how to fix this problem...

[2020-08-30 21:03] parkerziegler commented on #206
Hey @MoOx, sorry to hear you're having issues – that's a pretty bizarre runtime error to be hitting. Your code looks correct to me (assuming that `GraphQL.client` is your `urql` client instance). Can you try the following:

- Switch to using `Client.executeQuery` and `Wonka.subscribe` and see if the issue persists? This should help us figure out if there's an issue in our implementation of `Client

[2020-08-30 21:04] parkerziegler commented on #202
Yep, totally ok with me – we can use the PR to discuss nuances. I'll take this up in a few days if you don't find time to get to it!

[2020-08-31 17:57] #204 closed

[2020-09-07 08:57] MoOx commented on #204
Thanks ! (back from vacations)

[2020-09-08 01:40] gaku-sei commented on #206
Hey @MoOx @parkerziegler , just so you know, this error is related to Wonka and it should happen only in BuckleScript > 8.0 (but not only, the type checking before the fix was way looser).
It's been reported here: https://github.com/kitten/wonka/issues/85, and fixed here: https://github.com/kitten/wonka/pull/88

Wonka 5.0.0-rc does fix it. That being said, since urql and reason urql are using Wonk

[2020-09-08 01:43] gaku-sei commented on #202
Hello @parkerziegler, sorry I still didn't have the time to make it compile 😞
I tried to split the types into 2 categories, or 2 layers:
- The ones dealing with externals, prefixed with `js`
- The ones related to the Reason API

But to be honest, there are many externals, and in the end most of types were prefixed with `js`. Also, I didn't want to break the existing bindings, and was affraid to in

[2020-09-08 19:07] parkerziegler commented on #202
I don't necessarily think we need every type in the library to have a JS equivalent. Generally, `urql` doesn't pass `null` in many of its internals. Most types are defined in TS to use the optional parameter syntax, `?`, which to my understanding explicitly disallows `null`. In these cases, I think relying on direct record -> object compilation with the special case for `option` and `undefined` fe

[2020-09-09 03:37] gaku-sei opened #215 "Client.executeQuery will "reset" all the default values of client"
When using the `Client.executeQuery` function, it seems all the default values are dropped (fetchOptions, fetch, etc...).

It seems related to how the options are defined [here](https://github.com/FormidableLabs/reason-urql/blob/88e8e0418e304924812d12bab49f09d2df087594/src/Client.re#L250). This object will be passed down to the `executeQuery` function which will spread it [here](https://github.com

[2020-09-09 16:11] parkerziegler commented on #215
You're right here @gaku-sei and I do think we can fix this by reverting `partialOperationContext` back from a record to a `[@bs.deriving abstract]` (as it previously was). I was at first concerned that ReScript didn't support this syntax, since it isn't documented 😱 but just tested it out in the playground and it works. I'll put up a PR later today!

[2020-09-10 16:45] #202 closed

[2020-09-10 16:46] #215 closed

[2020-09-11 07:58] MoOx commented on #206
Thanks for the notice @gaku-sei ! I guess I will revert bs until this is fixed :)

[2020-09-11 18:52] parkerziegler commented on #206
@MoOx I'd be curious if you'd be able to use `yarn` resolutions to force your `wonka` version to `v5.0.0-rc.0`. If you're using `yarn` you should be able to add the following to your `package.json`:

[code]

`reason-urql` uses whatever version of `wonka` is shipped with the `urql` version it binds to. So by using resolutions, you could force `wonka` v5 to be resolved. It's not guaranteed it'll wor

[2020-09-11 21:25] kitten commented on #206
@parkerziegler I don't have any timeline yet. The problem is that it's a change that'll need to happen across all packages as there's no path for backwards compatibility; When a user has multiple `@urql/*` packages installed but doesn't upgrade all of them then this will potentially break. So we're basically delaying this ... because we're afraid of what may happen 😆

For now, all I can recommend

[2020-09-12 17:24] MoOx commented on #206
Note sure what's happening today to me... I just tried to get back on this topic (I am migrating a site that where using reason-apollo and and old ssg to next+reason+urql).
I deleted my yarn.lock+node_modules, installed reason-url (got 2.1.0-rc0) and I am getting

[code]

I am not using gentype by my own. Is this Wonka or something else that's needs it?

[2020-09-12 18:11] parkerziegler commented on #206
`wonka` does use `genType` under the hood. Did you try including `wonka` in your `bs-dependencies` array?

[2020-09-18 04:53] parkerziegler commented on #171
Latest `reason-urql` release is bound to `urql` v1.10.0!

[2020-09-18 04:53] #171 closed

[2020-09-22 14:09] jfrolich opened #219 "Adopt `graphql-ppx` 1.0"
Are you looking to upgrade to `graphql-ppx` 1.0? It's a bit of a change but looking at the examples it allows to refactor the API to the following:

[code]

into

[code]

Also you get all the other goodies like many bugfixes, better error messages, and - most importantly - records instead of objects.

You can extend queries/mutations/subscriptions, and this allows you to add the `use` function (se

[2020-09-22 14:14] BlueHotDog commented on #219
Yes Please!! super looking forward to this!

[2020-09-23 23:07] parkerziegler commented on #219
Hey @jfrolich! I'd definitely be interested in adopting it. If you'd like to start working on it, the contribution is more than welcome! I'll likely be swamped w/ work until this week, so that'd be the earliest I could get to it. But it's good to see that a community standard has emerged and yes, I'd be happy to officially move onto it 🎉

[2020-09-24 05:32] jfrolich commented on #219
I don't use `reason-urql` but happy to answer questions!

[2020-09-24 06:27] BlueHotDog commented on #219
I'm now giving it a try on a project. will see the exceptions i get and maybe i can help push this forward.

[2020-09-27 09:45] MoOx opened #220 "urql shouldn't be a dep but a peer dep"
Hi again,

I will make this short. I am still trying to use reason-urql with next!
I am getting this issue:

<img width="987" alt="image" src="https://user-images.githubusercontent.com/157534/94361518-1b2dd080-00b5-11eb-88c1-6938fbd56026.png">

As you can see, the code produced by reason-urql seems zero-cost at some point (I can tell when I read `[@bs.module "urql"] external`). But when you do suc

[2020-10-01 18:38] parkerziegler commented on #219
Hey folks, I began working on this migration but have had a recent death in my family and won't be getting back to it for a few days (or, more likely, a week and a half). My first impressions:

- This looks like a great library! It does seem that it really encourages using functors as the main mechanism for accessing `query`, `parse`, etc. which are the main internals `reason-urql` cares about. Ho

[2020-10-01 19:01] parkerziegler commented on #220
Hey @MoOx, I began looking but have had a recent death in my family and won't be getting back to it for a few days (or, more likely, a week and a half). My first impressions:

- As far as I know, `urql` should still be located at `/node_modules/urql` after installing `reason-urql`. I suppose I can't say for sure on `npm`, but a fresh installation using `yarn` does yield this result.

<img width="2

[2020-10-01 20:27] kitten commented on #220
In this case we expect `urql` to be a dependency of `reason-urql`. In general all bindings have `@urql/core` as a dependency directly and exchanges do the same. This works because their ranges are always compatible, so a package manager will hoist them.

When it comes to `urql` once it's used directly it should be installed separately.

There are drawbacks with this in that duplicates are at times

[2020-10-01 22:10] jeddeloh commented on #219
The functor part is largely transparent to the end-user thanks to configuration in `bsconfig`. For your example, this could result in usage like:
[code]

But it's not even necessary to use functors and the extension api. You can use first-class modules with normal functions. This is what reason-apollo-client does for client methods:
[code]

Maybe look at `reason-apollo-client` for an example imple

[2020-10-02 04:57] jfrolich commented on #219
Sorry to hear about your family situation, @parkerziegler! Condolences! Be sure to take your time off.

To respond to your questions. Like @jeddeloh said the functor is just used because it's the most feasible way to more deeply integrate with the `ppx`. It's transparent to the user (it just adds extra functions or values to the query/mutation/fragment module behind the scenes).

In the current `u

[2020-10-02 08:48] MoOx commented on #220
@parkerziegler My condolescences.

I totally get what you are explaining. In fact I already investigated all of this before opening this issue. Here is what I did:
- deleted node_modules
- deleted yarn.lock
- `yarn` (using yarn v1.x)
- checked node_modules for `urql` at the root: no luck it's not here. It's in `node_modules/reason-urql/node_modules`.
- I tried to understand why, as I know yarn do

[2020-10-02 11:52] kitten commented on #220
Oh, that does make sense! I went through a couple of possibilities. And if it's explicitly `graphql` that's duplicated then this can indeed happen.

There are multiple possible dependency trees but the gist of it will be that it'll look like this:

- `graphql@A`
- `reason-urql`
  - `urql`
  - `@urql/core`
  - `graphql@B`

I'd still say though that this is unexpected because of two reasons:

- Impo

[2020-10-26 13:24] amiralies commented on #219
@parkerziegler are you working on this? I can help to adopt faster

[2020-10-26 14:46] parkerziegler commented on #219
👋 Hey @amiralies, I'd love the help! We're fairly clear on the API we're targeting, I just haven't had any time to work on this recently due to some personal stuff and aggressive deadlines in my day job 😅

We're hoping to keep the API _fairly_ similar to v2 by using [first-class modules](https://dev.realworldocaml.org/first-class-modules.html). This would mean that our hooks APIs would look someth

[2020-10-26 15:25] philipbalbas opened #223 "Running to an error with wonka"
I'm trying to run grapqhl requests with urql using node.

I haven't gotten back to this project since reason-urql was updated to 2.1.0 and bs-platform to 8.3.1.

After updating and when I try making fetch requests, I keep getting this error which is somehow wonka related:

![image](https://user-images.githubusercontent.com/14971706/97192052-7fda6900-17e2-11eb-8e21-6050575f2003.png)

[2020-10-26 19:35] amiralies commented on #219
I actually like the API with FCM. It aligns well with urql's api and there's no need for additional config in `bsconfig.json` (although it's very simple), but we should consider FCM is an advanced language feature.
I will play around this API do some experiment.

[2020-10-27 03:00] jfrolich commented on #219
@parkerziegler, you could consider having the variables as the only positional argument. In case when there are no variables the type of `t_variables` is unit, so you can just call the function without the last argument.

[2020-10-30 01:58] kitten commented on #223
I've just issued a new release that does expose all nested files via `exports`, so if you upgrade it'll hopefully resolve itself 🤞

[2020-10-31 17:32] BlueHotDog commented on #219
Hi guys, just checking in, how stable is the v3 branch? can we give it a whirl on a real project?

[2020-10-31 17:38] amiralies commented on #219
hooks are not converted to new api yet, I'll send a PR in next week.

[2020-10-31 17:39] BlueHotDog commented on #219
Thanks,
Maybe its worth while to add a tracker to see what's left to be done? maybe others will pitch in?

[2020-10-31 19:34] amiralies commented on #219
You're right, I'll do that in a WIP PR.

[2020-11-01 22:37] parkerziegler commented on #219
@BlueHotDog `v3` branch is stable-ish. If you use it, be aware of the following:

- `Client.execute*` and `Client` methods generally are using `@reasonml-community/graphql-ppx`. There may be some changes to those APIs before `v3` is released, but if so they'll be fairly minor to what's currently on `v3`.
- `urql` is now a `peerDependency` of the library, along with its `peerDependencies`. So the f

[2020-11-02 11:16] BlueHotDog commented on #219
@parkerziegler you're doing a stellar job! we'll try to help. we'll wait until hooks are done and start testing it and filling in gaps.
Thank you so much for providing visibility

[2020-11-06 16:45] amiralies commented on #219
@BlueHotDog I've pushed some changes into my branch. you can give it a try if you want!

[2020-11-10 07:46] saracodes opened #228 "useDynamicMutation hook: Getting an error for returned executeMutation function with no variables"
Hi! Thanks for the fantastic work 👏🏽
I found a bug, which turned out not to be so critical, but it might be useful to others to resolve it or be aware of it.

When I use the `useDynamicMutation` hook with no variable for the returned executeMutation function, I get an error: `This argument cannot be applied without label`.
In this case, it is possible to use `useMutation`, and that’s what I did ev

[2020-11-12 19:00] parkerziegler commented on #228
Huh, this is an interesting one and I'm not totally sure what's happening here! Does it give you a specific labelled parameter that it's expecting, or just "label"?

A good thing to note — we're going to be releasing `v3.0.0` very soon (likely this weekend), which removes `useDynamicMutation` altogether. `useMutation` will function as `useDynamicMutation` does currently, where variables are applie

[2020-11-12 19:00] #228 closed

[2020-11-12 19:03] parkerziegler commented on #219
This work has been merged into the `v3` branch. I'm finishing up final release notes for `v3.0.0-rc.0` and will publish that later today. Thanks for the work here everyone!

[2020-11-12 19:03] #219 closed

[2020-11-12 21:33] saracodes commented on #228
v3.0.0 🥳
great news!
I will test the code again with the new version and update if it reoccurs.
just for the record, if anyone will need some more details later on -
it didn't expect any specific label, it was just the general error of: `This argument cannot be applied without label`. and it didn't help to pass some of the optional `executeMutation` arguments like requestPolicy etc.

Thank you for

[2020-11-12 23:42] parkerziegler commented on #206
👋 Hey folks, the fix for this has been merged into `main` and released on [v3.0.0-rc.0](https://github.com/FormidableLabs/reason-urql/releases/tag/v3.0.0-rc.0). Docs are in the README for using yarn resolutions to resolve a compatible `wonka` version: https://github.com/FormidableLabs/reason-urql#1a-important-note-for-users-of-bs-platform800

[2020-11-12 23:42] #206 closed

[2020-11-12 23:43] parkerziegler commented on #220
👋 Hey folks, the fix for this has been merged into main and released on [v3.0.0-rc.0](https://github.com/FormidableLabs/reason-urql/releases/tag/v3.0.0-rc.0). Docs are in the README for installing `urql` and its `peerDependencies` as part of the installation for your project. Thanks!

[2020-11-12 23:43] #220 closed

[2020-11-12 23:45] parkerziegler commented on #223
@philipbalbas we just released v3.0.0-rc.0, which has [instructions](https://github.com/FormidableLabs/reason-urql#1-install-reason-urql-and-its-peerdependencies) for using `reason-urql` with latest `urql`, `wonka`, and `bs-platform`. Those instructions should hopefully fix your issues here; feel free to reopen if they don't!

[2020-11-12 23:45] #223 closed

[2020-11-13 01:58] jfrolich commented on #219
Amazing work @parkerziegler!

[2020-12-09 20:27] Kingdutch opened #232 "TypeError: b is not a function"
Using React suspense (`0.0.0-experimental-d7382b6c4`) with reason-urql I run into the following error.

[code]

A console.log before the useQuery hook invocation seems to indicate this happens after the rerender caused by React development mode (the network request completes but contains the following error.

[code]

This is produced by the query
[code]

Phil (Kitten) suggested that it could be ca

[2020-12-10 05:10] parkerziegler commented on #232
👋 Thanks for opening @Kingdutch!

Are you using `wonka` `v5` with yarn resolutions? This sounds suspiciously similar to #206, but the opacity of the stack trace with the MJS build makes it harder to confirm whether or not it's the same bug. If you aren't on `wonka` v5 my guess is its the same issue, which is caused by BuckleScript / ReScript changing some internals across majors. You can read [her

[2020-12-10 10:07] Kingdutch commented on #232
Yes! ^^ Made sure to follow the docs before posting here. This is in my yarn.lock file, indicating it resolved to 5.0.0-rc.1:
[code]

[code]

[code]

Looks like there's only one actual version of `Wonka` on disk, although I see the ReScript compiler build all the `.re` files and referens the `.bs.js` files, while urql itself directly loads the `dist/wonka.mjs` file that comes from NPM. So there co

[2020-12-10 10:14] Kingdutch commented on #232
I've rebuilt React in `production` mode to see if this was indeed development mode behaviour. However, this shows the following in the terminal.

Initial render and suspend
[code]
(data fetching happens here....)

With resolved data (still renders twice?):
[code]
The following two errors come right after the previous rendering logs.

The first in `react-dom.production.min.js:224:248`
[code]
The se

[2020-12-10 10:34] Kingdutch commented on #232
Found a solution!! :D

So adding the `signal.TAG = 1` wasn't enough. Since it also no longer accesses as `x.0` but now uses `x._0` I also had to remap `signal._0 = signal[0];` in `urql.es.js`

I'll create a PR with a change to the repository. I think it's safe to manually add that in a minor version of `urql` because it creates forward compatibility with the newer BuckleScript compiler but is igno

[2020-12-10 11:10] kitten commented on #232
Hiya, just following this up from: https://github.com/FormidableLabs/urql/pull/1214

This isn't quite as simple yet, and I'd love to find a solution for this that will keep this running but we've actually explicitly deferred the upgrade of `wonka@5` on `urql` and all of its packages on purpose (including an upgrade of `wonka` itself to ReScript). The information I was missing in the other PR is th

[2020-12-10 12:50] Kingdutch commented on #232
Right, yes, this was recommended by the documentation for `reason-urql`.

Sorry about that ^^ Do you still want me to open an issue in the `urql` repository? I was already starting on that but can refrain from doing so if it doesn't help.

I see, yeah my PR noted that ideally it doesn't handle the internals at all but defers to Wonka. Since this is only used in 1 case, would an `asVariant` (or sim

[2020-12-10 13:38] kitten commented on #232
Yep, I'm aware of all of the changes and the compilation differences (which is why v5 exists in the first place)

What I'm more concerned about us that we _have_ to switch all of urql over to the new compilation sooner or later. What that means is that people may upgrade some package and get incompatible exchanges created using different versions of Wonka.

I have come up with a migration plan tho

[2020-12-10 13:39] Kingdutch commented on #232
Just for my own understanding I wanted to figure out how everything tied together.

The upgrade to BuckleScript 8 for Wonka happens in https://github.com/kitten/wonka/pull/88 and notes

So this is indeed not an accidental upgrade but a concious breakage.

BuckleScript's variant implementation is directly exposed to TypeScript through https://github.com/kitten/wonka/blob/master/src/shims/Js.shim.ts

[2020-12-10 13:48] Kingdutch commented on #232
Ha! Yeah as you can see above, I was tracing out the history here to figure this out myself. If anyone else comes to this and they want to know the course of events, now they know too :D

The multiple copies issue is something that yarn's `pnp` mode tries to solve. I'm not sure what problems occur if you force the community to use that though.

The only real offence I see is that it tries to manua

[2020-12-10 14:01] kitten commented on #232
Not quite; so basically if you have two packages `x -> wonka@^4.0.0` and `y -> wonka@^4.1.0` let's say, then you'd expect that to resolve to `x, y, wonka@^4.1.0`, since they're both in range. However, `yarn` specifically (maybe sometimes `npm`? Haven't seen that to be fair, so probably not) does something odd when you upgrade or add new packages and may sometimes do: `x, x/node_modules/wonka@^4.0.

[2020-12-10 14:14] Kingdutch commented on #232
Right, so if I understand correctly. Once urql's current use of Wonka's internals is removed then that should mean that no (well behaving/supported) exchanges should be using Wonka's internals. That means that (for this particular issue) upgrading to Wonka 5 is a non-breaking change from urql`s point of view. (I don't know if there are other breaking changes in Wonka?)

The only problem that's lef

[2020-12-11 00:29] parkerziegler commented on #232
@Kingdutch I've attached the future label to this since it'll be coming along with a future release of `urql`. For now, I'm not sure there's much to be done here in `reason-urql`, other than encouraging users to avoid `suspense` until we can migrate to `wonka` v5 upstream. I'll keep this issue updated as we work on the migration over in `urql`, but I think this is likely a priority for the New Yea

[2020-12-11 09:35] Kingdutch commented on #232
You're most welcome. Thanks to Phil and yourself for the very rapid responses and for providing insights into the issues and roadmap! If there is anything I can help with to push this forward in `urql` itself feel free to tag me there or ping me on Discord :D

[2020-12-16 17:51] #169 closed

[2020-12-21 17:15] parkerziegler commented on #169
Released in [v3.2.0](https://github.com/FormidableLabs/reason-urql/releases/tag/v3.2.0).

[2021-01-03 06:24] parkerziegler opened #246 "Migrate documentation code samples to ReScript."
Many of the code samples in our documentation are still written in Reason. I'd love to have our documentation consistently use ReScript syntax, since it is what the codebase is natively implemented in. We could also consider keeping the current Reason implementation for current and future Reason users, since that syntax is still supported by the ReScript compiler.

[2021-01-12 10:18] amiralies opened #249 "Rename package to rescript-urql"
Does it make sense to rename the package to `rescript-urql`?

[2021-01-13 20:45] parkerziegler commented on #249
Hey @amiralies!

Yes, I do think eventually we'll want to rename the repository and package. But I think there are a few steps we'll need to plan out:

- Secure `npm` package name.
- Introduce a notification to the README instructing people to migrate.
- Do the switch as a major version bump (4.0.0).

I also need to check internally with our OSS Lead at Formidable to make sure we coordinate this p

[2021-02-04 03:53] earksiinni commented on #167
@BlueHotDog's last comment was super helpful to me when trying to save the response from a Relay connection field into React state. I had followed the "execute query" example in the repo without `Wonka.take`, and subsequent updates in the stream were overwriting the original response.

[2021-02-25 12:45] BlueHotDog opened #252 "Two questions related to testing"
Hi, trying to figure out how to do this:
https://formidable.com/open-source/urql/docs/advanced/testing/
And (probably less related to this lib, but still) this:
https://storybook.js.org/addons/@urql/storybook-addon

Couldn't find any info(i'm using v2.1.0).
Any clues?
The only option i see now is mocking fetch using jest-mock-fetch.. but just wanted to make sure i'm approaching this correctly.

[2021-02-25 19:54] BlueHotDog commented on #252
Ok, answered the second one myself. for anyone reaching this later:
https://github.com/draftbit/bs-storybook now supports CSF, which supports passing params. so this works:
[code]

Still can't figure out the best approach to mock reason-urql though

[2021-02-26 05:37] parkerziegler commented on #252
Hey @BlueHotDog! Interesting questions, and ones I haven't actually considered before. Let's start with the testing piece.

So, the type of the `urql` Client _instance_, `t`, is abstract. For this reason, I think it'll be difficult to follow exactly what the `urql` docs present, because we can't just mock `executeQuery`, `executeMutation`, etc. in a record and hand it to `Provider` — it needs to b

[2021-02-26 10:44] BlueHotDog commented on #252
Thanks @parkerziegler
I'm very happy of writing my own bindings(god knows that's a prerequisite using rescript :) ). Just wanted to see if i missed something before rolling my own.
Also, maybe we can add a MockContext component that'll accept such arguments?

[2021-02-26 16:23] parkerziegler commented on #252
@BlueHotDog Yep, that's definitely a solid idea. Something to the effect of:

[code]

[2021-03-06 15:13] earksiinni opened #253 "Using @rescript/react"
Is there a way to use `@rescript/react` instead of `reason-react` with this package? Not having `reason-react` installed causes bsb to emit errors after installing this PPX, it appears that it has `reason-react` as an (undocumented) hard requirement.

Side note, it would be super nice to be able to get bindings for just `@urql/core`.

Thanks for your work! I use the PPX in a different project that

[2021-03-07 05:31] parkerziegler commented on #253
Hey @earksiinni 👋  There currently is no way to do this, but I hope to release a new version in the coming weeks that will. The `reason-react` / `@rescript/react` crossover, while fairly straightforward, is a pretty big breaking change for other consumers of this library. My goals are to:

- Release a new version (v4.0.0) with support for `bs-platform@9`, `urql@2`, and `@rescript/react`.
- Rename

[2021-03-07 16:47] parkerziegler commented on #252
Going to close this for now, but feel free to reopen if there's more that isn't working here or if this seems unachievable in user-land and we can chat further. Thanks!

[2021-03-07 16:47] #252 closed

[2021-03-07 16:48] parkerziegler commented on #65
Closing for now — I don't think we have any plans for a formal docs site for this project until it reaches higher popularity. When that time comes it'll likely get folded into the `urql` documentation or a similarly-styled site on the Formidable domain.

[2021-03-07 16:48] #65 closed

[2021-03-21 16:39] parkerziegler commented on #253
This isn't yet released, so I'll reopen until a new version is published.

[2021-03-24 16:56] Kingdutch opened #257 "Provide a method to get GraphQLError as Js.Exn.t"
Since the [GraphQLError extends JavaScripts Error class](https://github.com/graphql/graphql-js/blob/main/src/error/GraphQLError.js#L18) anywhere that we can use a JavaScript error (typed in ReScript as `Js.Exn.t`) we can also use a `GraphQLError`.

Error reporting code that accepts a `Js.Exn.t` can't directly accept a GraphQLError. Adding an `asJsExn` method to `GraphQLError.res` could simplify co

[2021-03-27 19:47] #249 closed

[2021-03-28 01:36] parkerziegler commented on #253
@earksiinni Support for `@rescript/react` has been released in `@urql/rescript` v4.0.0!

[2021-03-28 01:36] #253 closed

[2021-04-05 23:54] parkerziegler commented on #257
This makes sense to me @Kingdutch! The only other question I have for your use case is whether or not accessing [`originalError`](https://github.com/graphql/graphql-js/blob/main/src/error/GraphQLError.js#L70) off of the `GraphQLError` is good enough for this use case. We do provide a binding to that already, so you should always be able to access `originalError` off of a `GraphQLError`.

All that

[2021-04-05 23:59] #246 closed

[2021-06-19 21:55] SamWoolerton opened #294 "Error while running external preprocessor"
I'm getting a compilation error to do with the PPX when I try follow the getting started guide. The query looks fine to me (copy-pasted the whole module) so not sure why it won't compile.

Let me know if I should raise this in `@reasonml-community\graphql-ppx` instead.

Here's the command line output (on Windows; same thing happens on WSL):
[code]

[2021-06-21 21:21] amiralies commented on #294
It seems like the issue is related to graphql ppx.
Can you confirm your `graphql_schema.json` and `bsconfig.json` are correct?
both should be standard json (no trailing comma, no comments)

[2021-06-23 04:24] SamWoolerton commented on #294
Thanks for the response, and agreed that it's to do with `graphql-ppx`. Should I raise this issue there instead?
These are definitely valid JSON files (format with Prettier JS works; it would fail if they were invalid).

`bsconfig.json`:
[code]

`graphql_schema.json` is way too big to put inline here but definitely valid too (PrettierJS formats it; no errors shown when viewing it in VS Code) - plu

[2021-06-23 05:39] amiralies commented on #294
Yeah I think it would be better to move the issue there.

[2021-06-23 23:05] #294 closed

[2021-12-15 08:38] Kingdutch commented on #257
Hi @parkerziegler I realised I never got back to this.

I think the fact that `originalError` can be `undefined` would make it not enough (since sometimes we have a GraphQLError but then couldn't log the originalError). Additionally I think for logging purposes (which is mostly why I requested this) the extra information about where in the GraphQL schema the error occurred can be very useful.

[2022-08-13 13:45] kepi opened #340 "Headers not added to request when using with"
I'm trying to use `rescript-urql` in `next` project with current `rescript` but I got stuck pretty soon as I'm unable to pass any header to request.

I followed documentation and ended up with following `src/Index.res`

[code]

and `src/Events.res`

[code]

Problem is, added headers are simply not passed. I tried to use `makeWithDict`, trying different headers than authorization, listening with tc

[2022-08-14 19:19] kepi commented on #340
Oh my... so many hours "wasted". At least I learned many new things in the process :smile:

Whole problem had been caused by `noCORS mode...`. I get everything working today with [rescript-apollo-client](https://github.com/jeddeloh/rescript-apollo-client) but I started with implementation in `getStaticProps`. Everything has been working untill I started with client side and hit same problem there.

[2022-08-14 19:19] #340 closed